 <{extends file="<{$tempdir}>/public/wxsite.html"}>  
<{block name=extendcss}>  
 <style>

	.prer03 li p {

width: 90%;

border-bottom: 1px solid #dcdcdc;

margin: 0px auto;

padding: 15px;

line-height: 20px;

position: relative;

}

.ftnBd {

font-weight: bold;

}

 

.city-select {

background: url(../images/li_selected.png) right no-repeat;

background-size: 18px 18px;

} 
#scroller {
position:absolute; 
	z-index:1;
	display:block;   
	overflow:auto; 
	width:100%;
}
</style>
<{/block}>
 <{block name=myScrolljs}>
<script> 
		var myScroll;
function loaded() {
	myScroll = new iScroll('wrapper', {
		useTransform: false,
		onBeforeScrollStart: function (e) {
			var target = e.target;
			while (target.nodeType != 1) target = target.parentNode;

			if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA')
				e.preventDefault();
		}
	});
}
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false); 
document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
</script>
<{/block}>
<{block name=hearnav}><header style="position: fixed;display:block;" id="header"><div class="return"></div> 区域列表 </header><{/block}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}>  
 <div id="wrapper">
	<div id="scroller">
 <section> 
         <ul class="prer03" id="prer03">  
         	 <{load_data assign="list" table="area"   fileds="*" where="parent_id=<{$id}>" limit="100" }> 
         	 <{foreach $list['list'] item=items}>
             <li class="clkitm"   ><a href="<{ofunc type=url link="/wxsite/index/id/<{$items['id']}>"}>" ><p   class="city-select" code="102"><{$items['name']}></p></a></li>
             <{/foreach}>
          </ul> 
    </section>
  </div>
</div> 
<{/block}>